In [1]:
import pandas as pd
import numpy as np
import country_converter as coco

In [2]:
hdi_data = pd.read_excel('World_Suicide_rates.xlsx', 'HDI')
gdi_data = pd.read_excel('World_Suicide_rates.xlsx', 'GDI')
suicide_data = pd.read_excel('World_Suicide_rates.xlsx', 'World_Sucide_rates')
life_expectancy = pd.read_excel('World_Suicide_rates.xlsx', 'LifeExpectancy')
hdi_data = hdi_data[hdi_data['Level'] == 'National']
gdi_data = gdi_data[gdi_data['Level'] == 'National']
gdi_data['Country'] = coco.convert(names = gdi_data['ISO_Code'], to= 'name_short')
gdi_data

,Country,ISO_Code,Level,GDLCODE,Region,1990,1991,1992,1993,1994,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,AFG,National,AFGt,Total,NaN,NaN,NaN,NaN,NaN,...,0.597,0.607,0.617,0.627,0.635,0.640,0.646,0.658,0.662,0.658
9,Albania,ALB,National,ALBt,Total,NaN,NaN,NaN,NaN,NaN,...,0.962,0.956,0.972,0.966,0.964,0.969,0.964,0.964,0.970,0.966
22,Algeria,DZA,National,DZAt,Total,NaN,NaN,NaN,NaN,NaN,...,0.830,0.834,0.835,0.840,0.835,0.855,0.854,0.860,0.859,0.857
30,Angola,AGO,National,AGOt,Total,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.839,0.838,0.903,0.901,0.901,0.901
49,Argentina,ARG,National,ARGt,Total,NaN,NaN,NaN,NaN,NaN,...,0.993,0.993,0.992,0.994,0.992,0.993,0.994,0.993,0.992,0.994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1818,Venezuela,VEN,National,VENt,Total,NaN,NaN,NaN,NaN,NaN,...,1.022,1.023,1.024,1.023,1.024,1.021,1.021,1.018,1.015,1.010
1843,Vietnam,VNM,National,VNMt,Total,NaN,NaN,NaN,NaN,NaN,...,0.981,0.993,0.998,0.999,1.004,1.005,1.003,0.999,0.998,0.998
1850,Yemen,YEM,National,YEMt,Total,NaN,NaN,NaN,NaN,NaN,...,0.672,0.655,0.645,0.616,0.587,0.545,0.515,0.489,0.483,0.490
1859,Zambia,ZMB,National,ZMBt,Total,NaN,NaN,NaN,NaN,NaN,...,0.916,0.921,0.926,0.927,0.934,0.936,0.941,0.977,0.979,0.959
1869,Zimbabwe,ZWE,National,ZWEt,Total,NaN,NaN,NaN,NaN,NaN,...,0.930,0.935,0.939,0.935,0.925,0.927,0.925,0.927,0.928,0.933

In [3]:
hdi_data['Country'] = coco.convert(names = hdi_data['ISO_Code'], to= 'name_short')
hdi_data['Country'] = coco.convert(names = hdi_data['Country'], to= 'name_short')
hdi_data

XKO not found in ISO3
not found not found in regex

,Country,ISO_Code,Level,GDLCODE,Region,1990,1991,1992,1993,1994,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,AFG,National,AFGt,Total,0.302,0.308,0.314,0.312,0.307,...,0.471,0.477,0.490,0.497,0.500,0.499,0.502,0.506,0.509,0.511
9,Albania,ALB,National,ALBt,Total,0.649,0.631,0.615,0.617,0.624,...,0.745,0.764,0.775,0.781,0.787,0.787,0.787,0.790,0.793,0.794
22,Algeria,DZA,National,DZAt,Total,0.573,0.577,0.582,0.586,0.590,...,0.720,0.729,0.728,0.729,0.736,0.739,0.742,0.746,0.747,0.748
30,Andorra,AND,National,ANDt,Total,NaN,NaN,NaN,NaN,NaN,...,0.838,0.837,0.858,0.856,0.863,0.862,0.866,0.863,0.867,0.868
31,Angola,AGO,National,AGOt,Total,NaN,NaN,NaN,NaN,NaN,...,0.517,0.532,0.544,0.556,0.565,0.572,0.578,0.582,0.582,0.582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907,Venezuela,VEN,National,VENt,Total,0.645,0.654,0.660,0.661,0.661,...,0.758,0.770,0.771,0.777,0.775,0.770,0.759,0.742,0.732,0.711
1932,Vietnam,VNM,National,VNMt,Total,0.483,0.493,0.504,0.513,0.526,...,0.661,0.671,0.677,0.681,0.683,0.689,0.694,0.696,0.700,0.704
1939,Yemen,YEM,National,YEMt,Total,0.400,0.401,0.404,0.407,0.409,...,0.506,0.506,0.505,0.509,0.502,0.484,0.474,0.467,0.468,0.470
1948,Zambia,ZMB,National,ZMBt,Total,0.421,0.417,0.416,0.419,0.414,...,0.527,0.534,0.549,0.557,0.560,0.569,0.572,0.578,0.582,0.585
1958,Zimbabwe,ZWE,National,ZWEt,Total,0.478,0.481,0.467,0.463,0.459,...,0.482,0.500,0.526,0.537,0.548,0.552,0.558,0.563,0.570,0.571

In [ ]:
suicide_data = suicide_data.dropna(axis=1, how='all')
# suicide_data = suicide_data[suicide_data.all(suicide_data['Location type'] == 'Country' and suicide_data['Period type'] == 'Year')]
suicide_data = suicide_data.drop(columns=['IndicatorCode','Indicator', 'ValueType', 'Location type', 'Period type', 'IsLatestYear', 'Dim1 type', 'Language', 'DateModified'])
suicide_data['Location'] = coco.convert(names = suicide_data['SpatialDimValueCode'], to= 'name_short')
m_suicide_data = suicide_data[suicide_data['Dim1'] == 'Male']
f_suicide_data = suicide_data[suicide_data['Dim1'] == 'Female']
bt_suicide_data = suicide_data[suicide_data['Dim1'] == 'Both sexes']
bt_suicide_data

In [ ]:
gdi_data = gdi_data.drop(columns=['ISO_Code', 'Level', 'GDLCODE', 'Region'])
gdi_data.index = range(0,len(gdi_data))
gdi_data
gdi_new = gdi_data.melt(id_vars=['Country'], var_name='Year', value_name='GDI')

In [ ]:
hdi_data = hdi_data.drop(columns=['ISO_Code', 'Level', 'GDLCODE', 'Region'])
hdi_data.index = range(0,len(hdi_data))
hdi_data

In [ ]:
hdi_new = hdi_data.melt(id_vars=['Country'], var_name='Year', value_name='HDI')
hdi_new

In [ ]:
life_expectancy = life_expectancy[life_expectancy['Level'] == 'National']
life_expectancy['Country'] = coco.convert(names = life_expectancy['ISO_Code'], to= 'name_short')
life_expectancy = life_expectancy.drop(columns=['ISO_Code', 'Level', 'GDLCODE', 'Region'])
new_lifeExp = life_expectancy.melt(id_vars=['Country'], var_name='Year', value_name='Life Expectancy')

In [ ]:
new_lifeExp

In [ ]:
combined_indices = pd.merge(hdi_new, gdi_new, on=['Country', 'Year'], how='outer')
combined_indices = pd.merge(combined_indices, new_lifeExp, on=['Country', 'Year'], how='outer')
combined_indices

In [ ]:
combined_indices.to_excel('IndicesWithLifeExpectancy.xlsx')

In [ ]:
bt_suicide_data = bt_suicide_data.rename(columns={'Period': 'Year', 'Location' : 'Country'})
all_values = pd.merge(bt_suicide_data, combined_indices, on=['Country', 'Year'], how='outer')
all_values = all_values[all_values['SpatialDimValueCode'].notna()]
all_values

In [ ]:
all_values.to_excel('All_data.xlsx')

In [ ]:
all_values=all_values.drop(columns=['Dim1', 'Dim1ValueCode'])
#Average and Standard deviation of values grouped by countries
groups = all_values.groupby(['Country'], as_index = False)
summ_vals = groups['FactValueNumeric'].mean()
summ_vals['GDI_Mean'] = groups['GDI'].mean()['GDI']
summ_vals['HDI_Mean'] = groups['HDI'].mean()['HDI']
summ_vals['GDI_var'] = groups['GDI'].var()['GDI']
summ_vals['HDI_var'] = groups['HDI'].var()['HDI']
# summ_vals.columns = ['ParentLocation', 'Country', 'SuicideRate']
summ_vals = summ_vals.fillna(0)
summ_vals[170:180]

In [ ]:
all_values['FactValueNumeric'] = all_values['FactValueNumeric'].fillna(all_values.groupby('Country')['FactValueNumeric'].transform('mean'))
all_values['GDI'] = all_values['GDI'].fillna(all_values.groupby('Country')['GDI'].transform('mean'))
all_values['HDI'] = all_values['HDI'].fillna(all_values.groupby('Country')['HDI'].transform('mean'))
all_values = all_values.fillna(0)
all_values.sort_values('GDI')

In [ ]:
continent_group = all_values.groupby(['ParentLocation', 'Year'], as_index=False)
continent_values = continent_group['HDI'].mean()
continent_values['GDI'] = continent_group['GDI'].mean()['GDI']
continent_values['SuicideRates'] = continent_group['FactValueNumeric'].mean()['FactValueNumeric']
continent_values

In [ ]:
import plotly_express as px
px.scatter(continent_values,x = 'SuicideRates', y = 'HDI',color='ParentLocation',
           size='HDI',animation_frame='Year', animation_group='ParentLocation',range_x = [0,20],
          range_y = [0,1],text='ParentLocation')

In [ ]:
suicide_data = suicide_data.drop(columns='Dim1ValueCode')
suicide_data.to_excel('Suicide_Data.xlsx')

In [ ]:
all_nonans = all_values.dropna(how='any')
all_nonans

In [ ]:
rm_nans = combined_indices.dropna(how='any')
rm_nans

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
regr = LinearRegression()
X = np.array(rm_nans[['GDI', 'Life Expectancy']])
y = np.array(rm_nans['HDI'])
normalized_X=(X-X.mean())/X.std()
normalized_y=(y-y.mean())/y.std()
regr.fit(normalized_X,y)
print(regr.coef_)
print(regr.intercept_)

In [ ]:
from matplotlib import pyplot as plt
regr_plot = plt.figure(0,figsize=(20,10))
plt.scatter(X[:,0], y)
# plt.plot(normalized_X[:,0], regr.predict(normalized_X))
plt.show()

In [ ]:
regr2 = LinearRegression()
y_sr = np.array(all_nonans['FactValueNumeric'])
all_nonans['HDI'] = (all_nonans['HDI'] - all_nonans['HDI'].mean())/all_nonans['HDI'].std()
all_nonans['GDI'] = (all_nonans['GDI'] - all_nonans['GDI'].mean())/all_nonans['GDI'].std()
all_nonans['Life Expectancy'] = (all_nonans['Life Expectancy'] - all_nonans['Life Expectancy'].mean())/all_nonans['Life Expectancy'].std()
x_sr = np.array(all_nonans[['HDI', 'GDI', 'Life Expectancy']])
regr2.fit(x_sr, y_sr)

In [ ]:
regr2.coef_

In [ ]:
regr2.intercept_

In [ ]:
plot2 = plt.figure(1, figsize=(20,10))
plt.scatter(all_nonans['GDI'], all_nonans['FactValueNumeric'])

In [ ]:
all_nonans['GDI']

In [ ]:
result = all_nonans.to_json(orient="records",path_or_buf="data.json")